@font-face {
  font-family: "Inter-Regular";
  src: url("./_fonts/Inter-Regular.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3b4b5a !important;
}

.line {
  border: 1px solid #e5e9ed;
}

.nav-main {
  height: 80px;
  padding: 30px;
  width: 100%;
}

.current {
  color: #4194e1 !important;
  border-bottom: 1px solid #4194e1;
}

.nav-main a {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  color: #a9b9c9;
  outline: none;
}

.nav-main a:hover {
  color: #a9b9c9;
  outline: none;
  text-decoration: none;
}

.btn-success {
  color: #000 !important;
  background-color: #fff !important;
  width: 100%;
  text-align: left !important;
  border: 1px solid #ced4da !important;
}

.btn-success:hover {
  border: 1px solid #e5e9ed !important;
}
.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
}

.text-1 {
  background: #f5f6f7;
  height: 130px;
  border-radius: 6px;
  color: #3b4b5a;
}

.p-1 {
  font-style: normal;
  font-size: 15px;
  line-height: 21.5px;
  width: 60%;
  margin: 0 auto;
}

.color-r {
  color: #3b4b5a;
}
.t-min {
  opacity: 0.6;
}

.form-main {
  margin-top: 80px;
}
.w-form {
  outline: none;
}
.title-pro {
  margin-bottom: 40px;
 
}

.title-pro-2{
  visibility: hidden;
  margin-bottom: 40px;
}

label {
  opacity: 0.6;
  font-size: 12px;
}

.table-color {
  background: #f4f8fa !important;
  opacity: 0.6;
}
th {
  font-weight: normal !important;
}

.table {
  color: #3b4b5a !important;
  margin-top: 50px;
}

.inputCheck {
  margin-bottom: 55px;
}

.form-bt {
  margin-bottom: 0.5em !important;
}

.signature {
  height: 350px;
}

.signature input {
 border:none;
  border-bottom: 1px solid #3b4b5a;
  opacity: 0.6;
  font-size: 1.3em;
  outline: none;
  margin-bottom: 20px;
}

.pf {
  margin-top: -130px;
  color: #ff0000;
}

.input-w {
 
}

.td-inputs tr td input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 14px;
  color: #3b4b5a;
}
thead tr th {
  font-size: 12px;
}

table {
  table-layout: fixed;
}

td {
  width: 100px;
}

.div-foot,
.div-foot-f {
  color: #4194e1;
}
.div-foot p:nth-child(3) {
  visibility: hidden;
}
.div-foot p:nth-child(2) {
  visibility: hidden;
}

.div-foot-f p:nth-child(2) {
  visibility: hidden;
}
.div-foot-f p:nth-child(3) {
  visibility: hidden;
}

.div-foot-f p:nth-child(7) {
  visibility: hidden;
}
.wInput {
  width: 49% !important;
}

table thead {
  background-color: #f4f8fa;
}

#btn-add {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 8px;
}
#btn-add:hover {
  border: 1px solid #4194e1;
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border-radius: 9px;
}
